.dd {
  background: #900087;
  color: #fff;
  border-radius: 11px;
  padding:0 10px;
  font-weight:500;
  line-height:20px;
  font-size: small;
  font-family:Roboto,sans-serif;
}

.um {
  background: #005D91;
  color: #fff;
  border-radius: 11px;
  padding:0 10px;
  font-weight:500;
   line-height:20px;
   font-size: small;
   font-family:Roboto,sans-serif;
}
.dois {
  background: #6B07D2;
  color: #fff;
  border-radius: 11px;
  padding:0 10px;
  font-weight:500;
  line-height:20px;
  font-size: small;
  font-family:Roboto,sans-serif;
}

.dezz {
  background: #900087;
  color: #fff;
  border-radius: 11px;
  padding:0 10px;
  font-weight:500;
  line-height:20px;
  font-size: small;
  font-family:Roboto,sans-serif;
}

.u {
  background: #005D91;
  color: #fff;
  border-radius: 11px;
  padding:0 10px;
  font-weight:500;
   line-height:20px;
   font-size: small;
   font-family:Roboto,sans-serif;
}
.doz {
  background: #6B07D2;
  color: #fff;
  border-radius: 11px;
  padding:0 10px;
  font-weight:500;
  line-height:20px;
  font-size: small;
  font-family:Roboto,sans-serif;
}
