@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.container{
    display: flex;
    align-items:center;
    flex-direction: column;

    gap: 250px;

    height: 100vh;

    background: #111;
}

.container .logo{
    font-family: 'Poppins', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    text-shadow: 0 0 10px #fff;

    font-size: 1vw;

    background-color: rgb(46, 46, 46);
    box-shadow: 0 0 10px rgb(46, 46, 46);

    width: 6%;
    height: 6%;

    margin-top: 60px;

    border-radius: 8px;
}

.texts{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texts h1{
    font-family: 'Poppins', sans-serif;

    font-size: 5vw;
    margin: 0;

    text-shadow: 0 0 10px rgb(121, 121, 121);
    color: #fff;
}

.texts h2{
    font-family: 'Poppins', sans-serif;

    text-align: center;

    font-size: 1.5vw;
    margin: 0;

    color: orange;
}

.texts h2 a{
    color: #1a8ad5;
    text-decoration: none;

    transition: 0.5s;
}

.texts h2 a:hover{
    color: #0b70b3;
}

.texts h2 span{
    color: aquamarine;
    font-size: 2.5vw;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;

    width: 8vw;
    height: 5vh;

    background: orange;

    box-shadow: 0 0 10px orange;

    transition: 0.5s;
    cursor: pointer;

    margin-top: 20px;
}

.btn a{
    font-family: 'Poppins', sans-serif;

    font-size: 1vw;
    font-weight: 500;

    color: #fff;

    text-decoration: none;
}

.btn:hover{
    background: rgb(175, 114, 0);
}

.spanOneSegundo{
    display: none;
}

.btnTwo{
    display: none;
}


@media only screen and (max-width: 768px) {
    .container .logo{
        font-size: 2vw;
        width: 12%;
        height: 6%;
    }

    .texts h1{
        font-size: 6vw;
    }
    
    .texts h2{
        font-size: 2.5vw;
    }

    .btn{
        width: 15vw;
        height: 5vh;
    }
    
    .btn a{
        font-size: 2vw;
    }
}

@media only screen and (max-width: 498px){
    .container .logo{
        font-size: 3vw;
        width: 16%;
        height: 5%;
    }

    .container{
        gap: 226px;
    }

    .texts h1{
        font-size: 6vw;
    }
    
    .texts h2{
        font-size: 3.5vw;
    }

    .btn{
        width: 15vw;
        height: 3vh;

        display: none;
    }

    .spanOne{
        display: none;
    }

    .spanOneSegundo{
        display: block;
    }

    .spanTwo{
        display: none;
    }
    
    .btn a{
        font-size: 2vw;
    }

    .texts h2 span{
        color: aquamarine;
        font-size: 4vw;
    }

    .btnTwo{
        display: flex;

        margin-top: 5vh;

        width: 25vw;
        height: 4vh;

        background: #0b70b3;
        box-shadow: 0 0 10px #1a8ad5;

        
    }

    .btnTwo a{
        font-size: 3vw;
    }

    .btn:hover{
        background: #0b70b3;
    }

}

